@import "~react-datepicker/dist/react-datepicker.css";

body {
    background: #f0f0f0;
}

.background {
    width: 100vw;
    height: 100vh;
    background: #5f54c1;

    align-items: center;
    justify-content: center;
}

.FormContainer {
    width: 500px;
    height: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;

    display: flex;
    align-items: center;

    flex-direction: column;
}

.FormBack {
    width: 70%;
    height: 70%;

    margin-top: auto;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;

    background: #7e77ca;

    border: 2px solid #ffffff;
    border-radius: 40px;

    //box-shadow: 5px 5px 5px lightgray;
}

.FormTitle {
    color: white;
    font-size: 2em;
    font-weight: bold;

    padding-top: 15%;

    text-align: center;
    justify-content: center;
}

.FormHr {
    color: white;
    width: 90%;
    margin-top: 5%;
    margin-bottom: auto;
}

.InputContainer {
    width: 70%;
    height: 50%;

    margin-left: auto;
    margin-right: auto;

    align-items: center;
    justify-content: center;
}

.Form {
    width: 80%;
    height: 80%;

    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;

    align-items: center;
    input {
        background: #a5a1d7;
        border: 1px solid #ffffff;
        font-size: 1.3em;
        color: white;

        width: 90%;

        margin-bottom: 10%;
        padding-left: 0.7em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;

        border-radius: 7px;
    }
    input::placeholder {
        font-size: 1em;
        color: #cdcbe7;
    }
    input.date {
        cursor: pointer;
    }
}

.InputIdx {
    color: white;
    font-size: 1.5em;

    margin-left: 5%;
    margin-bottom: 5%;

    font-weight: normal;
}

.Submit {
    width: 70%;
    height: 7%;

    margin-bottom: auto;

    background: #a5a1d7;
    border: 2px solid #ffffff;
    border-radius: 20px;

    color: white;
    font-size: 1.3em;
    font-weight: bold;

    cursor: pointer;
}

.react-datepicker {
    font-size: 1.2em;
    // 좌표 살짝 이동
}
.react-datepicker__header {
    padding-top: 1em;
}
//.react-datepicker__month {
//    margin: 0.4em 1em;
//}
.react-datepicker__day-name,
.react-datepicker__day {
    width: 1.7em;
    line-height: 1.7em;
    //margin: 0.166em;
}
.react-datepicker__current-month {
    font-size: 1em;
    padding-bottom: 0.4em;
}
//.react-datepicker__navigation {
//    top: 1em;
//    line-height: 1.7em;
//    border: 0.45em solid transparent;
//}
.react-datepicker__navigation--previous {
    margin-top: 0.7em;
    border-right-color: #ccc;
    left: 1em;
}
.react-datepicker__navigation--next {
    margin-top: 0.7em;
    border-left-color: #ccc;
    right: 1em;
}
