.QR__Box {
    background: #5f54c1;
    color: white;

    height: 85vh;
    width: 27%;

    margin-top: 5%;
    margin-right: 5%;

    border-radius: 40px;

    justify-content: center;
    align-items: center;

    display: flex;

    float: right;

    box-shadow: 5px 5px 5px gray;
}

.QR__Code {
    width: 160px;
    height: 160px;

    margin: auto;

    border-radius: 15px;

    background: white;
}
